
@import './variables';

:focus {
  outline: $linkColor solid 0.1rem;
}

html {
  font-size: 62.5%;
  font-family: 'Fira Code', sans-serif;
  background: #282a36;
}

body {
  font-size: 1.6em;
  overflow-x: hidden;
  margin: 0 auto;
  max-width: 120rem;

  * {
    font-family: 'Fira Code', sans-serif;
    font-size: 1.4rem;
    box-sizing: border-box;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
}

img {
  max-width: 100%;
}

::placeholder {
  color: $grey;
}
